{% extends base %}

{% block body %}
    <table class="table table-striped table-hover" data-url-move="{{ path('product_move', {role: role}) }}" id="product">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Prix</th>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REFERENT') %}
                    <th>Producteur/trice</th>
                    <th>Actif</th>
                {% elseif is_granted('ROLE_PRODUCER') %}
                    <th>Activation</th>
                {% endif %}
                <th>Ordre</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Supprimer</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% set producer = null %}
            {% for product in products %}
                {% set class = '' %}
                {% if producer != product.producer.id %}
                    {% set class = class~' first' %}
                    {% set producer = product.producer.id %}
                {% endif %}
                {% if loop.last or producer != products[loop.index].producer.id %}
                    {% set class = class~' last' %}
                {% endif %}
                <tr style="background-color:{{ product.producer.color }}" data-url="{{ path('product_form', {role: role, id: product.id}) }}" class="{{ class }}">
                    <td>{{ 100 + product.producer.order}}-{{ 1000 + product.order }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|number_format(2) }}</td>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REFERENT') %}
                        <td>{{ product.producer }}</td>
                        <td>
                            <a href="{{ path('product_active', {role: role, id: product.id}) }}">
                                {% if product.isActive %}
                                    <i class="far fa-check-square text-dark"></i>
                                {% else %}
                                    <i class="far fa-square text-dark"></i>
                                {% endif %}
                            </a>
                        </td>
                    {% elseif is_granted('ROLE_PRODUCER') %}
                        <td>
                            <a href="#"
                               class="btn-sm btn-success"
                               data-button=".email-formMail"
                               data-sub-form=".extra-formMail"
                               data-form="[name='formMail']"
                               data-form-values="{&quot;formMail[email][reference]&quot;:{{ product.id}}}">
                               {{ product.isActive ? 'Demander la désactivation' : 'Demander l\'activation' }}
                            </a>
                        </td>
                    {% endif %}
                    <td class="move">
                        <i class="fa fa-arrow-circle-up text-dark"></i>
                        <i class="fa fa-arrow-circle-down text-dark"></i>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('product_delete', {id: product.id}) }}" data-confirm="Confirmez-vous la suppression de ce produit?">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('product_form', {role: role}) }}" class="btn btn-block btn-success">Nouveau</a>
    {% if formMail is defined %}
        {{ form(formMail) }}
    {% endif %}
{% endblock %}

{% block modal %}
    {% include 'emails/preview.html.twig' with {messages: messages|default([])} %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.table').drawDataTable({
                options : {
                    columnDefs: [
                        {
                            targets: [0],
                            visible: false,
                        },
                    ],
                    rowReorder: {
                        selector: '.move',
                        dataSrc: 0
                    },
                    order: [[0, 'asc']],
                }
            });
        });
    </script>
{% endblock %}
