{% extends base %}

{% block body %}
    {% if not isPdf and form is defined %}
        {{ form_start(form) }}
        {{ form_label(form.form) }}
        <ul class="max-height">
            {% for element in form.form %}
                <li>{{ form_widget(element) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    {% endif %}
    {% if plannings is defined %}
        {% for planning in plannings %}
            {% if not isPdf %}
                <a href="?pdf=true&id={{ planning.id }}" class="btn btn-block btn-success download-file">Imprimer</a>
            {% endif %}
            {% set maxMemberCount = 0 %}
            {% for element in planning.elements %}
                {% set maxMemberCount = max(element.members|length, maxMemberCount) %}
            {% endfor %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Date</th>
                        {% for i in 1..maxMemberCount %}
                            {% if maxMemberCount >= 1 %}
                                <th>Famille</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for element in planning.elements %}
                        <tr>
                            <td>{{ element.date|date('d/m/Y') }}</td>
                            {% set memberCount = 0 %}
                            {% for member in element.members %}
                                {% set memberCount = memberCount + 1 %}
                                <td>
                                    <span class="{{ app.user.id == member.id ? 'font-weight-bold text-danger' : '' }}">
                                        {% if app.user.id != member.id and not isPdf%}
                                            <a class="nav-link text-dark" href="{{ path('contact_form_planning_element', {role: 'member', user: member.id, planningElement: element.id}) }}"><i class="far fa-envelope"></i>&nbsp;{{ member }}</a>
                                        {% else %}
                                            {{ member }}
                                        {% endif %}
                                    </span>
                                </td>
                            {% endfor %}
                            {% set memberCount = memberCount + 1 %}
                            {% for i in memberCount..maxMemberCount %}
                                {% if maxMemberCount >= memberCount %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
