{% extends base %}

{% block body %}
    {{ form_start(form) }}
    <div class="widget-date-choice form-group">
        <div class="calendar">
        </div>
        <div class="values" data-prototype="{{ form_widget(form.elements.vars.prototype)|e }}" data-widget-counter="{{ form.elements|length }}">
            {% for element in form.elements %}
                {{ form_widget(element) }}
            {% endfor %}
            <button type="button" class="hidden btn btn-danger delete-date">Retirer cette date</button>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    {% set planning = form.vars.data %}
    {%  if planning %}
        {% include 'planning/viewbody.html.twig' with {'planningElements': planning.elements} %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            var options = [];
            options['onSelect'] = (function($context)
            {
                return function(dateText) {
                    localStorage.setItem('datepicker_{{ form.vars.data.id }}', dateText);
                    if (-1 == $.inArray(dateText, $context.data('currentPlanningDates'))) {
                        $context.trigger('create-widget', [dateText, 'currentPlanningDates']);
                    }
                    $.ajax({
                        url: '{{ path('admin_unavailability') }}',
                        method: 'get',
                        dataType: 'json',
                        data: {date: dateText},
                        success: function (data) {
                            var $container = $('.widget-date-choice .values');
                            $('select', $container).multiSelect('destroy');
                            $('input[type="text"]', $container).each(function() {
                                if ($(this).val() == dateText) {
                                    var id = $(this).attr('id').replace(/^(.*)_date$/, '$1_members');
                                    var $select = $('#' + id);
                                    $('option', $select).each(function() {
                                       if (-1 !== data.indexOf(parseInt($(this).attr('value')))) {
                                           $(this).addClass('text-danger');
                                           $(this).remove();
                                           $select.append($(this));
                                       }
                                    });
                                    $('#' + id).multiSelect();
                                    $('.delete-date', $container)
                                        .toggleClass('hidden', false)
                                        .off('click')
                                        .on('click', function () {
                                            $context.trigger('remove-widget', [dateText, 'currentPlanningDates']);
                                            $(this).toggleClass('hidden', true);
                                        });
                                }
                            });
                        }
                    });
                }
            })($('.widget-date-choice .calendar'));
            {% if form.elements|length > 0 %}
                options['defaultDate'] = localStorage.getItem('datepicker_{{ form.vars.data.id }}') || '{{ form.elements|first.vars.data.date|date('d/m/Y') }}';
            {% endif %}
            $('.widget-date-choice .calendar')
                .data('currentPlanningDates', [
                    {% for element in form.elements %}
                    '{{ element.vars.data.date|date('d/m/Y') }}',
                    {% endfor %}
                ])
                .data('planningDates', [
                    {% for planningDate in planningDates %}
                    '{{ planningDate|date('d/m/Y') }}',
                    {% endfor %}
                ])
                .data('unselectableDates', [
                    {% for planningDate in planningDates %}
                    '{{ planningDate|date('d/m/Y') }}',
                    {% endfor %}
                ])
                .drawDatepicker(options);
        });
    </script>
{% endblock %}