{% extends base %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Statut</th>
                <th>Aller vers</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for planning in plannings %}
                <tr data-url="{{ path('planning_form', {id: planning.id}) }}">
                    {% if planning.elements|first %}
                        {% set minDate = (planning.elements|first).date %}
                        {% set maxDate = (planning.elements|first).date %}
                        {% for element in planning.elements %}
                            {% set minDate = min(element.date, minDate) %}
                            {% set maxDate = max(element.date, maxDate) %}
                        {% endfor %}
                        <td data-sort="{{ minDate|date('Y-m-d') }}">{{ minDate|date('d/m/Y') }}</td>
                        <td data-sort="{{ maxDate.date|date('Y-m-d') }}">{{ maxDate|date('d/m/Y') }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ constant('App\\Entity\\Planning::LABELS')[planning.state] }}</td>
                    <td>
                        {% if constant('App\\Entity\\Planning::MAIL_TEMPLATES')[planning.nextState] is defined %}
                            <button
                               class="btn btn-sm btn-success"
                               data-button=".email-formMail"
                               data-sub-form=".extra-formMail"
                               data-form="[name='formMail']"
                               data-form-values="{&quot;formMail[email][reference]&quot;:{{ planning.id}}}">
                                {{ constant('App\\Entity\\Planning::LABELS')[planning.nextState] }}
                            </button>
                        {% else %}
                            <a href="{{ path('planning_state', {state: planning.nextState, id: planning.id }) }}" class="btn btn-sm btn-success">{{ constant('App\\Entity\\Planning::LABELS')[planning.nextState] }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('planning_delete', {id: planning.id}) }}" data-confirm="Confirmez-vous la suppression de ce planning?">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <a href="{{ path('planning_form') }}" class="btn btn-block btn-success">Nouveau</a>
    </div>
    {% if formMailUp %}
        <button
           class="btn btn-block btn-success"
           data-button=".email-formMail"
           data-sub-form=".extra-formMail"
           data-form="[name='formMail']"
           data-form-values="{&quot;formMail[email][reference]&quot;:&quot;formMailUp&quot;}">
            Envoyer un mail de relance pour les disponibilités
        </button>
    {% endif %}
    {% if formMail is defined %}
        {{ form(formMail) }}
    {% endif %}
{% endblock %}

{% block modal %}
    {% include 'emails/preview.html.twig' with {messages: messages|default([])} %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.table').drawDataTable({
                options : {
                    order: [[0, 'desc']],
                }
            });
        });
    </script>
{% endblock %}
