{% set bcc = message.bcc|reduce(
    (bcc, item) => item in bcc ? bcc : bcc|merge([item]), []
    ) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|default('fr') }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ message.subject }}</title>
    </head>
    <body>
        <h5>de: {% if app.user is defined and app.user.email is defined %}{{ app.user }}{% else %}{{admin_email}}{% endif %}</h5>
        <h5>à: {{ bcc|join(', ') }}</h5>
        {% if app.user is defined and app.user.email is defined %}<p><a href="{{ url('contact_form', {user : app.user.id, subject: 'RE: '~message.subject}) }}">Répondre</a></p>{% endif %}
        <br>
        {% if extra is defined %}
            {{ extra|raw }}
        {% endif %}
        {% block body %}
        {% endblock %}
        <p><a href="{{ url('login') }}">L'équipe AMAP Hommes de terre</a></p>
        <p><a href="{{ url('unsubscribe') }}">Se désinscrire</a></p>
    </body>
</html>
