<!DOCTYPE html>
<html lang="{{ app.request.locale|default('fr') }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ message.subject }}</title>
    </head>
    <body>
        {% if app.user is defined and app.user.email is defined %}<h5>de: {{ app.user }}</h5>{% endif %}
        <h5>à: {{ recipients|join(', ') }}</h5>
        {% if app.user is defined and app.user.email is defined %}<p><a href="{{ url('contact_form', {user : app.user.id}) }}">Répondre</a></p>{% endif %}
        <br>
        {% if extra is defined %}
            {{ extra|raw }}
        {% endif %}
        {% block body %}
        {% endblock %}
        <p><a href="{{ url('login') }}">L'équipe AMAP Hommes de terre</a></p>
        <p><a href="{{ url('unsubscribe') }}">Se désinscrire</a></p>
    </body>
</html>
