{% if messages is defined and null != messages and not messages is empty %}
    <div id="main-modal" class="modal" role="dialog" aria-labelledby="dataExtraLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="hidden">{{ form(formPreview) }}</div>
                <div class="modal-header">
                    <button type="button" class="btn-success btn-block btn preview">Envoyer</button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        {% set bcc = message.bcc|reduce(
                            (bcc, item) => item in bcc ? bcc : bcc|merge([item]), []
                            ) %}
                        <div class="display-table">
                            <div class="display-row">
                                <div class="display-cell">De : </div>
                                <div class="display-cell">{{ message.from|keys|join(', ') }}</div>
                            </div>
                            <div class="display-row">
                                <div class="display-cell">À: </div>
                                <div class="display-cell">{{ message.bcc|keys|join(', ') }}</div>
                            </div>
                            <div class="display-row">
                                <div class="display-cell">Sujet: </div>
                                <div class="display-cell">{{ message.subject }}</div>
                            </div>
                        </div>
                        <div class="body">{{ message.getBody|raw }}</div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-success btn-block btn preview">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#main-modal').modal('show');
            $('.preview').on('click', function () {
                $('form[name="preview_emails"]').submit();
            });
        });
    </script>
{% endif %}
