{% extends base %}

{% block body %}
    <table class="table table-striped table-hover" id="models">
        <thead>
            <tr>
                <th>Date</th>
                <th>Cloturé</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for basket in baskets %}
                <tr data-url="{{ path('basket_model', {id: basket.id}) }}">
                    <td data-sort="{{ basket.date|date('Y-m-d') }}">{{ basket.date|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('basket_frozen', {id: basket.id}) }}">
                            {% if null == basket.isFrozen %}
                                <i class="fa fa-lock-open text-dark"></i>
                            {% else %}
                                <i class="fa fa-lock text-dark"></i>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('basket_delete', {id: basket.id}) }}" data-confirm="Confirmez-vous la suppression de ce modèle?">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <a href="{{ path('basket_model') }}" class="btn btn-block btn-success">Nouveau</a>
    </div>
    {% if formMailUp %}
        <button
                class="btn btn-block btn-success"
                data-button=".email-formMail"
                data-sub-form=".extra-formMail"
                data-form="[name='formMail']"
                data-form-values="{&quot;formMail[email][reference]&quot;:0}">
            Envoyer un mail de relance pour la commande
        </button>
    {% endif %}
    {% if formMailInfo %}
        <button
                class="btn btn-block btn-success"
                data-button=".email-formMail"
                data-sub-form=".extra-formMail"
                data-form="[name='formMail']"
                data-form-values="{&quot;formMail[email][reference]&quot;:1}">
            Envoyer un mail de mise à disposition des paniers
        </button>
    {% endif %}
    {% if formMail is defined %}
        {{ form(formMail) }}
    {% endif %}
{% endblock %}

{% block modal %}
    {% include 'emails/preview.html.twig' with {messages: messages|default([])} %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.table').drawDataTable({
                options : {
                    order: [[0, 'desc']],
                }
            });
        });
    </script>
{% endblock %}
