{% macro portfolio(portfolio) %}
    {% if portfolio is not null and portfolio.thumbnailCollection is not null %}
        <a href="#" data-toggle="modal" data-target="#bs-portfolio-modal-lg-{{ portfolio.id }}" class="text-info"><i class="fa fa-eye"></i></a>
        <div class="modal fade" id="bs-portfolio-modal-lg-{{ portfolio.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="carousel-controls-{{ portfolio.id }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-info">
                            {% for thumbnail in portfolio.thumbnailCollection %}
                                <div class="carousel-item{{ loop.first ? ' active' : '' }}">
                                    <img class="d-block w-100 h-100 img-responsive heavily-padded" src="{{ absolute_url(asset('uploads/'~thumbnail.media)) }}">
                                    <div class="carousel-caption text-white bg-info">
                                        {{ thumbnail.description|raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if portfolio.thumbnailCollection|length > 1 %}
                            <a class="carousel-control-prev bg-info" href="#carousel-controls-{{ portfolio.id }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next bg-info" href="#carousel-controls-{{ portfolio.id }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
